<div class="mt-4">
    <h3>Đăng khoá học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Input name">
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" placeholder="Input description">
        </div>
        <div class="form-group">
            <label for="videoId">Video Id</label>
            <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Input videoId">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>