<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="width: 14rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">HỌC NGAY</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            {{#with course}}
            <h2>{{name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{description}}</p>
            {{/with}}
        </div>
    </div>
</div>