<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand ml-5" href="/">Course-Framework</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown row">
                    <img src="https://lh3.googleusercontent.com/a-/AOh14Gg9sx2zCie-RrG-uMlFtGrPhoXDzHKeh6jMDiU9Aw=s400" alt="" width="28px" height="28px" class="avatar mt-1">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vũ lưu</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/courses/create">Thêm khoá học</a>
                        <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>