<div class="mt-5">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Input key</label>
            <input type="text" name="q" class="form-control" id="searchInput" placeholder="Key...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>